<!DOCTYPE html>
<html lang="ru">
<%- include ../common/head %>
<body>
<ul>
  <li style="margin: 15px">donafen</li>
  <li style="margin: 15px">swimwears</li>
  <li style="margin: 15px">satin</li>
  <li style="margin: 15px">body</li>
  <li style="margin: 15px">trik</li>
</ul>
    <form action="/groupAdd" method="POST" role="form">

        <input type="text" name="title" style="font-size: 20px; height: 30px; width: 300px; line-height: 30px; border-radius: 7px; margin: 10px">
        <br/>
        <button type="submit" style="margin: 10px; font-size: 18px; height: 30px; width: 100px; line-height: 20px; border-radius: 7px; background-color: #00ff00" >Отправить</button>
    </form>
</body>
</html>