<div class="modal fade" id="enterModal" tabindex="-1" role="dialog" aria-labelledby="enterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enterModalLabel">Войти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/autoriz" method="POST">
                    <div class="form-group">
                        <label for="enterInputLog">Логин</label>
                        <input type="text" class="form-control" id="enterInputLog" placeholder="Логин" name="name">
                    </div>
                    <div class="form-group">
                        <label for="enterInputPassword">Пароль</label>
                        <input type="password" class="form-control" id="enterInputPassword" placeholder="Пароль" name="pass">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>