<!DOCTYPE html>
<html lang="ru">
<%- include ../common/head %>
<body>
<%- include ../common/shapka %>

<div style="display:flex; padding: 20px;">
    <div style="margin: 40px;">
        <h3 style="color: #777;">Здравствуйте, <%=userName%></h3>
        <span style="font-size: 16px; color: #777;">Вы успешно зарегистрировались! Для просмотра товаров и оптовых цен перейдите в каталог</span>

    </div>
</div>

</body>
</html>