<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        Arco Iris производитель нижнего белья, украина, арко ирис. Купить оптом женское нижнее белье.
    </title>
    <meta name="google-site-verification" content="bopZxbDglQUFvIlr8vGj8-vcCSETgMkY6Z4wnvrL3pI" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="здесь вы можете купить оптом женское нижнее белье напрямую от производителя по самой низкой цене. Доставка по всей Украине. Заходи, выбирай, заказывай!">

    <script src="libs/jq/jquery-3.2.1.min.js"></script>
    <script src="libs/jq/jquery-ui.min.js"></script>
    <script src="rotateSlider/jquery1.5.2.min.js"></script>
    <script src="rotateSlider/jquery.transform-0.9.3.min_.js"></script>
    <script src="rotateSlider/jquery.mousewheel.js"></script>
    <script src="rotateSlider/mainRotSl.js"> </script>

    <link rel="canonical" href="http://arco-iris.com.ua" />
    <link rel="stylesheet" href="public/style.css">
    <link rel="stylesheet" href="public/styleMobile.css">

    <link rel="stylesheet" href="public/styleRotateSlider.css">
    <link rel="stylesheet" href="public/styleMobRotSlid.css">




    <script src="js/head.js"></script>



</head>
<body>

    <%- include ../common/shapka %>


    <div id="blinkerBox">
        <img src="img/head1.jpg" class="imgHead" alt="женское белье">
        <img src="img/head2.jpg" class="imgHead" alt="женская пижама атласная">
        <img src="img/head3.jpg" class="imgHead" alt="женское боди кружевное">
    </div>

    <span id="nameCompan">
        <b>ARCO IRIS</b>
    </span>

    <article>
        <h1>
            Производитель женского нижнего белья и домашней одежды
        </h1>

        <span id="novisible">арко ирис, аркоирис, купить женское белье оптом в Украине</span>

        <span>Наша компания специализируется на производстве и продаже женского нижнего белья и домашней одежды оптом. Рады предложить вам ознакомиться с широким ассортиментом нижнего женского белья и одежды для дома.</span>
        <span>Мы всегда открыты к сотрудничеству с новыми партнерами и с удовольствием приглашаем вас <strong>купить нижнее белье оптом</strong>. Также у нас вы можете <strong>купить оптом домашнюю одежду напрямую от производителя</strong>.</span>
        <span>Одним из главных принципов нашей компании является индивидуальный подход к каждому клиенту. Рекомендации наших специалистов помогут вам быстро и безошибочно сформировать заказ.</span>
        <span id="spanMobNon">Высокое качество продукции компании Arco iris и низкие цены на женское белье и домашнюю одежду оптом вас приятно удивят. Не теряйте время, позвоните нам сегодня!</span>

    </article>

    <main>
        <div id="hght">
            <img src="img/colaj1.jpg" alt="ночная сорочка атласная">
        </div>
        <article id="articlePcNon">
            <h2>Выгодные условия сотрудничества с производителем нижнего белья</h2>
            <span>Низкие цены и высокое качество нашей продукции поднимут вам настроение и прибыль вашему бизнесу. Чтобы выгодно <strong>купить оптом нижнее белье</strong> и домашнюю одежду, звоните прямо сейчас!</span>
        </article>
        <div id="rightBox">
            <div id="wdth">
                <img src="img/colaj2.jpg" alt="женский халат атласный">
            </div>
            <div id="trplBox">
                <img src="img/colaj4.jpg" alt="ночнушка">
                <img src="img/colaj3.jpg" alt="женская пижама сатиновая">
                <img src="img/colaj5.jpg" alt="ночная рубашка сатиновая">
            </div>
        </div>
    </main>

    <article>
        <h2>
            Сексуальное нижнее белье и стильная одежда для дома
        </h2>

        <span>
            Постоянно расширяя свой ассортимент мы не только следуем последним направлениям моды, но и реализуем самые смелые и интересные идеи наших дизайнеров.

        </span>
        <span>
            Нижнее белье для нас это целая философия, которая объединяет в себе, как внутренний мир женщины, её характер и настроение, так и внешний её образ - силуэт фигуры со строгими очертаниями и сексуальными линиями тела.
        </span>

    </article>

    <div class="content">
        <div class="rm_wrapper">
            <div id="rm_container" class="rm_container">
                <ul>
                    <li data-images="rm_container_1" data-rotation="-15"><img class="imgMobSlid" src="rotateSlider/fotos/loft8.jpg" alt="набор нижнего белья" /></li>
                    <li data-images="rm_container_2" data-rotation="-5"><img class="imgMobSlid" src="rotateSlider/fotos/bedroom1.jpg" alt="комбидресс кружевной" /></li>
                    <li data-images="rm_container_3" data-rotation="5"><img class="imgMobSlid" src="rotateSlider/fotos/bedroom2.jpg" alt="пижама с кружевом" /></li>
                    <li data-images="rm_container_4" data-rotation="15"><img class="imgMobSlid" src="rotateSlider/fotos/loft5.jpg" alt="пижама сатиновая" /></li>
                </ul>
                <div id="rm_mask_left" class="rm_mask_left"></div>
                <div id="rm_mask_right" class="rm_mask_right"></div>
                <div id="rm_corner_left" class="rm_corner_left"></div>
                <div id="rm_corner_right" class="rm_corner_right"></div>
                <h2>Arco iris 2017</h2>
                <div style="display:none;">
                    <div id="rm_container_1">
                        <img class="imgMobSlid" src="rotateSlider/fotos/loft8.jpg" alt="пижама из атласа" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/loft6.jpg" alt="пеньюар кружевной" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/loft3.jpg" alt="пижама сексуальная сатиновая" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/loft4.jpg" alt="халат женский сатиновый" />
                    </div>
                    <div id="rm_container_2">
                        <img class="imgMobSlid" src="rotateSlider/fotos/bedroom1.jpg" alt="боди женское из кружева" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/catalog1.jpg" alt="ночнушка атласная" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/bedroom3.jpg" alt="бодик кружевной сексуальный" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/catalog3.jpg" alt="Ночная рубашка трикотажная" />
                    </div>
                    <div id="rm_container_3">
                        <img class="imgMobSlid" src="rotateSlider/fotos/bedroom2.jpg" alt="пижама шелковая" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/catalog2.jpg" alt="пижама женская сатиновая" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/bedroom4.jpg" alt="комплект женского нижнего белья для сна" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/catalog4.jpg" alt="бодик из трикотажа" />
                    </div>
                    <div id="rm_container_4">
                        <img class="imgMobSlid" src="rotateSlider/fotos/loft5.jpg" alt="пижама шелковая" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/loft7.jpg" alt="пижама кружевная" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/loft1.jpg" alt="комплект сатиновый майка шорты" />
                        <img class="imgMobSlid" src="rotateSlider/fotos/loft2.jpg" alt="халат женский атласный" />
                    </div>
                </div>
            </div>
            <div class="rm_nav">
                <a id="rm_next" href="#" class="rm_next"></a>
                <a id="rm_prev" href="#" class="rm_prev"></a>
            </div>
            <div class="rm_controls">
                <a id="rm_play" href="#" class="rm_play">Play</a>
                <a id="rm_pause" href="#" class="rm_pause">Pause</a>
            </div>
        </div>
    </div>


    <footer>
        <div id="footLeftBox">
            <div class="followTextIcons">
                <span>Follow us:</span>
                <span>Find us: </span>
                <span style="cursor: pointer;" onclick="location.href = 'blogMain.html'">Read Blog </span>
            </div>
            <div class="followTextIcons">
                <span>Instagram Facebook </span>
                <span>marker map</span>
            </div>
        </div>

        <div id="footCentrBox">
            <span>+380977086910</span>
            <span>+380937106055</span>
            <span>+380639932507</span>
            <span>
                &#8482; Arco iris 2017. All Rights Reserved.
            </span>
       </div>

        <div id="footRightBox">
            <div id="footAdress">
                <span>Kiev,</span>
                <span>Magnitogorskaya 1-b</span>
            </div>
        </div>
    </footer>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-89132511-3', 'auto');
        ga('send', 'pageview');
    </script>


</body>
</html>