<div style="display: flex; flex-direction: column; justify-content: flex-start; align-self: flex-end; text-align: right">

  <span style="margin-right: 10px; color: #777"><%=userName%></span>

    <div style="display: flex; justify-content: flex-end">

        <button class="logInRegButt">
          <a class="nav-link" id="enter" data-toggle="modal" data-target="#enterModal">Войти</a>
        </button>

        <button class="logInRegButt">
          <a class="nav-link" id="reg" data-toggle="modal" data-target="#registrModal">Регистрация</a>
        </button>

        <button class="logInRegButt" onclick="location.href='/admLogOut'">Выйти</button>

    </div>

</div>