
<footer>
    <div id="footLeftBox">
        <div class="followTextIcons">
            <span>Follow us:</span>
            <span>Find us: </span>
        </div>
        <div class="followTextIcons">
            <span>Instagram Facebook </span>
            <span>marker map</span>
        </div>
    </div>

    <div id="footCentrBox">
        <span>+380988785989</span>
        <span>+380977086910</span>
        <span>+380937106055</span>
        <span>
            &#8482; Arco iris 2018. All Rights Reserved.
        </span>
    </div>

    <div id="footRightBox">
        <div id="footAdress">
            <span>Kiev,</span>
            <span>Magnitogorskaya 1-b</span>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
