<head>
    <title>mySite</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- <script src="//code.jquery.com/jquery-2.0.2.min.js"></script> -->
    <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/styleMobile.css">
    <link rel="stylesheet" href="/public/styleCardAdd.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>