<header>
    <div id="brand">
        <span>Arco iris</span>
    </div>
    <div id="headTel">
        <span>(097)7086910</span>
        <span id="tel2">(093)7106055</span>
        <span>(063)9932507</span>
    </div>
    <div id="headAdress">
        <span>г.Киев.</span>
        <span id="street">ул.Магнитогорская 1-Б</span>
    </div>
</header>

<nav>
    <a href="/">ГЛАВНАЯ</a>
    <a href="/catalogMain.html">КАТАЛОГ</a>
    <a href="/contacts.html">КОНТАКТЫ</a>
    <a href="/aboutUs.html">О НАС</a>
    <a href="/cabinet">КАБИНЕТ</a>
</nav>



<!--Navbar-->

<!--<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">-->
    <!--<a class="navbar-brand" href="/">-->
        <!--<img src="/img/logo.png">-->
    <!--</a>-->

    <!--<span class="navbar-toggler navbar-brand" style="color: white; border: none">-->
                <!--0977086910-->
    <!--</span>-->

    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <!--<div class="collapse navbar-collapse" id="navbarNav" >-->
        <!--<ul class="navbar-nav" style="min-width: 320px">-->
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link " href="/">Главная</a>-->
            <!--</li>-->

            <!--<li class="nav-item dropdown" >-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="dropdownArcoiris" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Каталог</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdownArcoiris">-->
                    <!--<a class="dropdown-item" href="/catalogSatin">Сатин</a>-->
                    <!--<a class="dropdown-item" href="/catalogBody">Боди</a>-->
                    <!--<a class="dropdown-item" href="/catalogTrik">Трикотаж</a>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li class="nav-item dropdown" >-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="dropdownImport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Импорт</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdownImport">-->
                    <!--<a class="dropdown-item" href="/catalogDonafen">Donafen</a>-->
                    <!--<a class="dropdown-item" href="/catalogSwimwears">Купальники</a>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li class="nav-item active">-->
                <!--<a class="nav-link " href="/contacts">Контакты</a>-->
            <!--</li>-->

            <!--<li class="nav-item active">-->
                <!--<a class="nav-link " href="/aboutUs">О Нас</a>-->
            <!--</li>-->

            <!--<li class="nav-item active">-->
                <!--<a class="nav-link " href="/cabinet">Кабинет</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div class="collapse navbar-collapse">-->
                    <!--<span class="navbar-brand m-auto" style="font-size: 30px; color: white; line-height: 25px">-->
                             <!--ARCO IRIS-->
                    <!--</span>-->
            <!--<span class="navbar-brand" style="text-align: right">-->
                             <!--0937106055, 0639932507, 0977086910-->
                    <!--</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

